{% set route = app.request.attributes.get('route') %}
{% set slugs = app.request.attributes.get('slug')  %}

<!-- CURVE -->
<div class="position-relative">
	<div class="shape shape-bottom shape-fluid-x text-dark">
		<svg viewbox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
	</div>
</div>

<!-- FOOTER -->
<footer class="py-8 py-md-11 bg-dark">
	<div class="container">
		<div class="row">
			<div
				class="col-12 col-md-4 col-lg-3">

				<!-- Brand -->
				<a class="navbar-brand" href="{{ path('app_home') }}">
					<img src="/img/myvideoplayer.png" alt="Logo My Video Player" class="footer-brand img-fluid mb-2">
				</a>

				<!-- Text -->
				<p class="text-gray-700 mb-2">
					Réalisé par Froldev
				</p>

				<!-- Social -->
				<ul class="list-unstyled list-inline list-social mb-6 mb-md-0">
					<li class="list-inline-item list-social-item me-3">
						<a href="https://fredolive.fr/" target="_blank" class="text-decoration-none">
							<img src="/img/social/logo-dark.png" class="list-social-icon" alt="Portfolio Fred OLIVE">
						</a>
					</li>
					<li class="list-inline-item list-social-item me-3">
						<a href="https://www.linkedin.com/in/fred-olive/" target="_blank" class="text-decoration-none">
							<img src="/img/social/linkedin.svg" class="list-social-icon" alt="LinkedIn">
						</a>
					</li>
					<li class="list-inline-item list-social-item me-3">
						<a href="https://gitlab.com/froldev/" target="_blank" class="text-decoration-none">
							<img src="/img/social/gitlab.svg" class="list-social-icon" alt="Gitlab">
						</a>
					</li>
					<li class="list-inline-item list-social-item me-3">
						<a href="https://github.com/froldev/" target="_blank" class="text-decoration-none">
							<img src="/img/social/github.svg" class="list-social-icon" alt="Github">
						</a>
					</li>
				</ul>

			</div>
			<div
				class="col-6 col-md-4 col-lg-3">

				<!-- Heading -->
				<h6 class="fw-bold text-uppercase text-gray-700">
					Catégories
				</h6>

				<!-- List -->
				<ul
					class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
					<!-- Categories <= max -->
					<li class="mb-3">
						<a href="{{ path('app_category_all') }}" class="text-reset">
							Toutes les catégories
						</a>
					</li>
					{% for category in categories|slice(0, max) %}
						{% if (slugs) %}
							{% for key, slug in slugs %}
								<li class="mb-3">
									<a class="text-reset" href="{{ path('app_category_show', {'slug': category.slug}) }}">{{ category.name }}</a>
								</li>
							{% endfor %}
						{% else %}
							<li class="mb-3">
								<a class="text-reset" href="{{ path('app_category_show', {'slug': category.slug}) }}">{{ category.name }}</a>
							</li>
						{% endif %}
					{% endfor %}
					{% if categories|length > max %}
						<li class="mb-3 dropdown">
							<a class="text-reset dropdown-toggle" id="navbarPages" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
								Autres
							</a>
							<div class="dropdown-menu dropdown-menu-lg" aria-labelledby="navbarPages">
								<div class="row gx-0">
									{% for category in categories|slice(max, categories|length) %}
										<div class="col-6 text-center">
											<a class="dropdown-item" href="{{ path('app_category_show', {'slug': category.slug}) }}">{{ category.name }}</a>
										</div>
									{% endfor %}
								</div>
							</div>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								{% for category in categories|slice(max, categories|length) %}
									<li>
										<a class="dropdown-item" href="{{ path('app_category_show', {'slug': category.slug}) }}">{{ category.name }}</a>
									</li>
								{% endfor %}
							</ul>
						</li>
					{% endif %}
				</ul>

			</div>
			<div
				class="col-6 col-md-4 col-lg-3">

				<!-- Heading -->
				<h6 class="fw-bold text-uppercase text-gray-700">
					Liste des auteurs
				</h6>

				<!-- List -->
				<ul
					class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
					<!-- Categories <= max -->
					<li class="mb-3">
						<a href="{{ path('app_author_all') }}" class="text-reset">
							Tous les auteurs
						</a>
					</li>
					{% for author in authors|slice(0, max) %}
						<li class="mb-3">
							<a class="text-reset" href="{{ path('app_author_show', {'slug': author.slug}) }}">{{ author.name }}</a>
						</li>
					{% endfor %}
					{% if authors|length > max %}
						<li class="mb-3 dropdown">
							<a class="text-reset dropdown-toggle" id="navbarPages" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
								En voir plus
							</a>
							<div class="dropdown-menu dropdown-menu-lg" aria-labelledby="navbarPages">
								<div class="row gx-0">
									{% for author in authors|slice(max, authors|length) %}
										<div class="col-6 text-center">
											<a class="dropdown-item" href="{{ path('app_author_show', {'slug': author.slug}) }}">{{ author.name }}</a>
										</div>
									{% endfor %}
								</div>
							</div>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								{% for author in authors|slice(max, authors|length) %}
									<li>
										<a class="dropdown-item" href="{{ path('app_author_show', {'slug': author.slug}) }}">{{ author.name }}</a>
									</li>
								{% endfor %}
							</ul>
						</li>
					{% endif %}
				</ul>

			</div>
			<div
				class="col-6 col-md-4 offset-md-4 col-lg-3 offset-lg-0">

				<!-- Heading -->
				<h6 class="fw-bold text-uppercase text-gray-700">
					Informations
				</h6>

				<!-- Text -->
				<p class="text-gray-600 mb-2">
					My Video Player : Le seul site où vous pouvez sauvegarder et voir les vidéos YouTube, Vimeo , DailyMotion et Facebook.
				</p>

			</div>

		</div>
		<!-- / .row -->
	</div>
	<!-- / .container -->
</footer>
