{% set route = app.request.attributes.get('route') %}
{% set slugs = app.request.attributes.get('slug')  %}

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
	<div
		class="container-fluid">

		<!-- Brand -->
		<a class="navbar-brand" href="{{ path('app_home') }}">
			<img src="/img/myvideoplayer-small.png" class="navbar-brand-img" alt="My Video Player">
		</a>

		<!-- Toggler -->
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Collapse -->
		<div
			class="collapse navbar-collapse" id="navbarCollapse">

			<!-- Toggler -->
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<i class="fe fe-x"></i>
			</button>

			<!-- Navigation -->
			<ul class="navbar-nav ms-auto">
				<li class="nav-item">
					<a class="nav-link {% if route == 'home' %}active{% endif %}" id="navbarPages" href="{{ path('app_home') }}" aria-haspopup="true" aria-expanded="false">
						Accueil
					</a>
				</li>
				{% for category in categories|slice(0, max) %}
					{% if (slugs) %}
						{% for key, slug in slugs %}
							<li class="nav-item">
								<a class="nav-link {% if (category.slug == slug) %}active{% endif %}" href="{{ path('app_category_show', {'slug': category.slug}) }}">{{ category.name }}</a>
							</li>
						{% endfor %}
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_category_show', {'slug': category.slug}) }}">{{ category.name }}</a>
						</li>
					{% endif %}
				{% endfor %}
				{% if categories|length > max %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" id="navbarPages" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
							Autres
						</a>
						<div class="dropdown-menu dropdown-menu-lg" aria-labelledby="navbarPages">
							<div class="row gx-0">
								{% for category in categories|slice(max, categories|length) %}
									<div class="col-6 text-center">
										<a class="dropdown-item" href="{{ path('app_category_show', {'slug': category.slug}) }}">{{ category.name }}</a>
									</div>
								{% endfor %}
							</div>
						</div>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							{% for category in categories|slice(max, categories|length) %}
								<li>
									<a class="dropdown-item" href="{{ path('app_category_show', {'slug': category.slug}) }}">{{ category.name }}</a>
								</li>
							{% endfor %}
						</ul>
					</li>
				{% endif %}
			</ul>

			<!-- Button -->
			{% if app.user %}
				<a class="btn btn-warning ms-6" href="{{ path('admin_dashboard')}}">Administration</a>
			{% else %}
				<a class="btn btn-warning ms-6" href="{{ path('app_login')}}">Connexion</a>
			{% endif %}

		</div>

	</div>
</nav>
