{% extends 'base.html.twig' %}

{% block title %}MyVideoPlayer || Connexion
{% endblock %}

{% block body %}
	<!-- CONTENT -->
	<section>
		<div class="container d-flex flex-column">
			<div class="row align-items-center justify-content-center gx-0 min-vh-100">
				<div
					class="col-12 col-md-6 col-lg-4 py-8 py-md-11">

					<!-- Heading -->
					<h1 class="mb-0 fw-bold">
						Ouvrir une session
					</h1>

					<!-- Text -->
					<p class="mb-6 text-muted">
						Administration du site internet
					</p>

                    {% if error %}
                        <div class="alert alert-danger mt-4" role="alert">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}

					<!-- Form -->
					<form class="mb-3" action="{{ path('app_login') }}" method="post" >

						<!-- Email -->
						<div class="form-group">
							<label class="form-label" for="username">
								Email
							</label>
							<input type="email" class="form-control" id="username" name="_username" value="{{ last_username }}">
						</div>

						<!-- Password -->
						<div class="form-group mb-5">
							<label class="form-label" for="password">
								Mot de passe
							</label>
							<input type="password" class="form-control" id="password" name="_password">
						</div>

                        <!-- CSRF token -->
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

						<!-- Submit -->
							<button class="btn w-100 btn-warning" type="submit">Connexion
						</button>

					</form>

					<div class="mb-6">
						<a class="btn btn-primary col-12" href="{{ path('app_visitor') }}">Se connecter en tant que Visiteur</a>
					</div>

					<a class="btn btn-dark mt-5" href="{{ path('app_home') }}">Retour</a>

				</div>
				<div
					class="col-lg-7 offset-lg-1 align-self-stretch d-none d-lg-block" data-aos="fade-left">

					<!-- Image -->
					<div class="h-100 w-cover bg-cover" style="background-image: url(/img/login-videos.jpg);"></div>

					<!-- Shape -->
					<div class="shape shape-start shape-fluid-y text-white">
						<svg viewbox="0 0 100 1544" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h100v386l-50 772v386H0V0z" fill="currentColor"/></svg>
					</div>

				</div>
			</div>
			<!-- / .row -->
		</div>
		<!-- / .container -->
	</section>
{% endblock %}
