// 
// user.scss
// Use this to write your custom SCSS
//
// Border-radius {
.page-item,
.nav-link {
    border-radius: 0.375rem;
}

// Pagination
.page-item .page-link {
    color: $dark;
}

.page-item:hover:not(.active) .page-link {
    color: $dark;
    background-color: $warning;
    border-color: $dark;
}

.page-item.active > .page-link {
    color: white;
    background-color: $dark;
}

.page-item.disabled .page-link,
.page-item:hover.disabled .page-link {
    color: #869AB8;
    background-color: #FFF;
    border-color: #D9E2EF
}

// Navbar
.navbar-nav .show > .nav-link,
.navbar-nav .nav-link.active {
    color: $warning;
    background-color: $dark;
}

.navbar-nav .nav-item:hover .nav-link:not(.active) {
    color: $dark;
    background-color: $warning;
}

// Buttons
.btn-warning {
    color: $dark;
    background-color: $warning;
    &:hover {
        background-color: $warning-hover;
    }
}

.btn-primary {
    color: #F7F7F7;
    background-color: $primary;
    &:hover {
        background-color: $primary-hover;
    }
}

.btn-dark {
    background-color: $dark;
    &:hover {
        background-color: $dark-hover;
    }
}

.bg-warning {
    background-color: $warning;
}
