// 
// user-variables.scss
// Use this to overwrite Bootstrap and theme variables
//

// Example of a variable override to change theme's background color
// Remove the "//" to comment it in and see it in action!
// $body-bg: #12263F;
$warning: #FCC509;
$dark: #1B2A4E;
$primary: #4C9DED;
$warning-hover: #FDD754;
$dark-hover: #444956;
$primary-hover: #81BAF2;