{% extends 'base.html.twig' %}

{% block title %}
My Video Player || Liste des catégories
{% endblock %}

{% block body %}
	{% include 'pages/category/allCategoriesPresentation.html.twig' %}
	{% include 'pages/category/allCategoriesList.html.twig' %}
{% endblock %}