<section class="pt-8 pb-10 pt-md-11 bg-gradient-light-white">
	<div
		class="container">
		<!-- / .row -->
		<div class="row">

			{% if categories|length > 0 %}
				{% for category in categories %}
					{% include 'components/_categories.html.twig' %}
				{% endfor %}
			{% else %}
				<div class="text-center">
					<h2 class="fw-bold mb-9">Aucune catégorie pour le moment</h2>
				</div>
			{% endif %}
		</div>
		<!-- / .row -->

		<!-- Pagination -->
		{% include("components/_pagination.html.twig") with {'datas': categories} %}
		<!-- / .pagination -->
	</div>
	<!-- / .container -->
</section>
