{% extends 'base.html.twig' %}

{% block title %}myVideoPlayer || Toutes les vidéos de la catégorie
	{{ category.name }}
{% endblock %}

{% block body %}
	{% include 'pages/category/presentation.html.twig' %}
	{% include 'pages/category/videos.html.twig' %}
{% endblock %}
