{% set banner = (category.imageName == banner_image_default) ? category.imageName : (vich_uploader_asset(category, 'imageFile')) %}
<!-- WELCOME -->
<section data-jarallax data-speed=".8" class="py-10 py-md-14 overlay overlay-black overlay-30 bg-cover jarallax" 
style="background-image: url({{ banner }});background-color:{{ category.background }};">
    <div class="container">
        <div class="row justify-content-center">
            <div
                class="col-12 col-md-10 col-lg-7 text-center bg-gradient-dark-black p-4">

                <!-- Heading -->
                <h1 class="display-2 fw-bold text-white">
                    {{ category.name | upper }}
                </h1>

                <!-- Text -->
                <span class="lead mb-0 text-white-75">
                    {{ category.description | u.truncate(category_description_length, '...') | raw }}
                </span>

            </div>
        </div>
        <!-- / .row -->
    </div>
    <!-- / .container -->
</section>

<!-- SHAPE -->
<div class="position-relative">
    <div class="shape shape-bottom shape-fluid-x text-light">
        <svg viewbox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
    </div>
</div>