<!-- VIDEOS -->
<section class="py-7 py-md-10">
	<div
		class="container">

		<!-- SEARCH -->
		<div class="py-6 mb-4">
			<div class="row">

				{% if videos|length > 0 %}
					{% include("components/_search.html.twig") with {
					'url': '/categorie/'~category.slug~'/search',
					'target': '#videos-category-'~category.slug,
				} %}
				{% else %}
					<div class="col-12">
						<h2 class="mb-0 text-center">Aucune vidéo pour cette catégorie</h2>
					</div>
				{% endif %}

			</div>
			<!-- / .row -->
		</div>

		<!-- / Videos -->
		<div id="videos-category-{{category.slug}}" class="row">
			{% include("components/_videos.html.twig") %}
		</div>
		<!-- / Videos -->

		<!-- Pagination -->
		{% include("components/_pagination.html.twig") with {'datas': videos} %}
		<!-- / Pagination -->
	</div>
	<!-- / .container -->
</section>
