{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}
	<div class="container py-3">
		<header>
			<div class="d-flex flex-column flex-md-row align-items-center pb-3 border-bottom border-dark">
				<img src="/img/myvideoplayer-small.png" class="navbar-brand-img" alt="My Video Player" width="300px">
			</div>

			<div class="p-3 mb-5 mx-auto text-center border-bottom border-dark">
				<h1 class="display-4 fw-normal text-body-emphasis">Tableau de Bord</h1>
			</div>
		</header>

		<main>

		{% if datas.homepage.total > 0 or datas.allVideos.total > 0 or datas.category.total > 0 or datas.author.total > 0 or (is_granted('ROLE_ADMIN') and datas.user.total > 0) %}

			<div class="row row-cols-1 row-cols-md-3 text-center my-4">
				{# Accueil #}
				{% if datas.homepage.total > 0 %}
					{{ include('components/_adminCard.html.twig', {
						'title': 'Accueil',
						'bgColor': 'info',
						'published': datas.homepage.totalPublished,
						'unpublished': datas.homepage.totalUnpublished,
						'total': datas.homepage.total,
                    }) }}
				{% endif %}
				{# Vidéos #}
				{% if datas.allVideos.total > 0 %}
					{{ include('components/_adminCard.html.twig', {
						'title': 'Vidéos',
						'bgColor': 'primary',
						'published': datas.allVideos.totalPublished,
						'unpublished': datas.allVideos.totalUnpublished,
						'total': datas.allVideos.total,
                    }) }}
				{% endif %}
                {# Catégories #}
				{% if datas.category.total > 0 %}
					{{ include('components/_adminCard.html.twig', {
						'title': 'Catégories',
						'bgColor': 'dark',
						'published': datas.category.totalPublished,
						'unpublished': datas.category.totalUnpublished,
						'total': datas.category.total,
						})
					}}
				{% endif %}
                {# Auteurs #}
				{% if datas.author.total > 0 %}
					{{ include('components/_adminCard.html.twig', {
						'title': 'Auteurs',
						'bgColor': 'warning',
						'published': datas.author.totalPublished,
						'unpublished': datas.author.totalUnpublished,
						'total': datas.author.total,
                    }) }}
				{% endif %}
				{# Users #}
				{% if is_granted('ROLE_ADMIN') and datas.user.total > 0 %}
					{{ include('components/_adminCard.html.twig', {
						'title': 'utilisateurs',
						'bgColor': 'success',
						'published': datas.user.totalPublished,
						'unpublished': datas.user.totalUnpublished,
						'total': datas.user.total,
						}) }}
				{% endif %}
			</div>

			<div class="row row-cols-1">
				{# Homepage #}
				{% if datas.homepage.total > 0 %}
					{{ include('components/_adminTable.html.twig', {
						'title': 'Accueil',
						'bgColor': 'info',
						'datas': datas.homepage.videos,
						'showThead': true,
						'entity': 'videos',
					}) }}
				{% endif %}
				{# Vidéos #}
				{% if datas.allVideos.total > 0 %}
					{{ include('components/_adminTable.html.twig', {
						'title': 'Vidéos',
						'bgColor': 'primary',
						'datas': datas.allVideos.videos,
						'showThead': true,
						'entity': 'videos',
					}) }}
				{% endif %}
				{# Categories #}
				{% if datas.category.total > 0 %}
					{{ include('components/_adminTable.html.twig', {
						'title': 'Catégories',
						'bgColor': 'dark',
						'datas': datas.category.categories,
						'showThead': true,
						'entity': 'others',
					}) }}
				{% endif %}
				{# Authors #}
				{% if datas.author.total > 0 %}
					{{ include('components/_adminTable.html.twig', {
						'title': 'Auteurs',
						'bgColor': 'warning',
						'datas': datas.author.authors,
						'showThead': true,
						'entity': 'others',
					}) }}
				{% endif %}
				{# Users #}
				{% if is_granted('ROLE_ADMIN') and datas.user.total > 0 %}
					{{ include('components/_adminTable.html.twig', {
						'title': 'Utilisateurs',
						'bgColor': 'success',
						'datas': datas.user.users,
						'showThead': false,
						'entity': 'users',
					}) }}
				{% endif %}
			</div>
		{% else %}
			<div class="alert alert-info text-center" role="alert">
				<h2 class="alert-heading">Bienvenue sur votre tableau de bord !</h2>
				<p class="mb-0">Il n'y a pas encore de données à afficher.</p>
			</div>
		{% endif %}
		</main>

	</div>
{% endblock %}
