{% extends 'base.html.twig' %}

{% block title %}
My Video Player || Liste des auteurs
{% endblock %}

{% block body %}
	{% include 'pages/author/allAuthorsPresentation.html.twig' %}
	{% include 'pages/author/allAuthorsList.html.twig' %}
{% endblock %}