<!-- AUTHORS -->
<section class="py-7 py-md-10">
    <div class="container">
        <div class="row">

            {% if authors|length > 0 %}
                {% for author in authors %}
                    {% include 'components/_authors.html.twig' %}
                {% endfor %}
            {% else %}
                <div class="text-center">
                    <h2 class="fw-bold mb-9">Aucun auteur pour le moment</h2>
                </div>
            {% endif %}

        </div>
        <!-- / .row -->

        <!-- Pagination -->
        {% include("components/_pagination.html.twig") with {'datas': authors} %}

    </div>
    <!-- / .container -->
</section>