<section data-jarallax="" data-speed=".8" class="pt-8 pt-md-8 pb-8 pb-md-8 overlay overlay-warning bg-cover jarallax" style="margin-top: -87px; background-image: none; z-index: 0;" data-jarallax-original-styles="margin-top: -87px;">
	<div class="container">
		<div class="container">
			<div class="row justify-content-between align-items-center">
				<div
					class="col-12 col-md-6 col-lg-5">

					<!-- Image grid -->
					<div
						class="d-flex align-items-center mb-6 mb-md-0">

						<!-- Image -->
						{% if author.avatarName %}
							{% set avatar = (author.avatarName == author_image_default) ? author.avatarName : vich_uploader_asset(video.author, 'avatarFile') %}
							<img class="object-scale-down h-48 w-96 rounded" data-jarallax-element="-20" src="{{ avatar }}" alt="{{ author.name }}" style="min-height: 1px; max-width: 50%; margin-left: 40%; transform: translate3d(0px, -11.2068px, 0px);" data-jarallax-original-styles="min-height: 1px; max-width: 50%; margin-left: 40%;">
						{% endif %}
					</div>

				</div>
				<div
					class="col-12 col-md-6 py-md-12">

					<!-- Heading -->
					<div>
						<span class="badge rounded-pill bg-dark me-1 mb-6 px-6">
							<span class="h2 text-warning text-uppercase">{{ author.name }}</span>
						</span>
					</div>

					<!-- Text -->
					<div>
						<span class="fs-lg text-gray-700 mb-6">
							{% if author.about is defined and author.about is not null %}
								{{ author.about | raw }}
							{% else %}
								<p class="text-muted">Aucune description pour le moment</p>
							{% endif %}
						</span>
					</div>

					<!-- Button -->
					{% if author.website is defined and author.website is not null %}
						<div>
							<a class="fw-bold badge bg-primary-desat mt-6" href="{{ author.website }}" target="_blank">
								Visiter le site de l'auteur
								<i class="fe fe-arrow-right ms-3"></i>
							</a>
						</div>
					{% endif %}
				</div>
			</div>
			<!-- / .row -->
		</div>
		<!-- / .row -->
	</div>
	<!-- / .container -->
	<div id="jarallax-container-0" class="jarallax-container" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; z-index: -100; clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%);">
		<div style="background-position: 50% 50%; background-size: cover; background-repeat: no-repeat; position: fixed; top: 0px; left: 0px; width: 1217px; height: 641.181px; overflow: hidden; pointer-events: none; transform-style: preserve-3d; backface-visibility: hidden; margin-top: -19.5906px; transform: translate3d(0px, 19.7469px, 0px);"></div>
	</div>
</section>

<div class="position-relative">
	<div class="shape shape-bottom shape-fluid-x text-light">
		<svg viewbox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"></path>
		</svg>
	</div>
</div>
