{% extends 'base.html.twig' %}

{% block title %}
	My Video Player || Présentation de l'auteur  {{ author.name }}
{% endblock %}

{% block body %}
	{% include 'pages/author/authorPresentation.html.twig' %}
	{% include 'pages/author/authorVideos.html.twig' %}
{% endblock %}
