<section class="py-8 py-md-11 mt-n10 mt-md-n14">
	<div class="container">
		<div class="row" id="portfolio" data-isotope='{"layoutMode": "masonry"}'>

			{% for video in author.videos %}
				{% include("components/_videos.html.twig") %}
			{% endfor %}

		</div>

		<!-- Pagination -->
        {% include("components/_pagination.html.twig") with {'datas': videos} %}
		<!-- Pagination -->
	</div>
</section>
