{% extends 'base.html.twig' %}

{% block title %}My Video Player || Accueil
{% endblock %}

{% block body %}
	{% include 'pages/home/presentation.html.twig' %}
	{% include 'pages/home/videos.html.twig' %}
{% endblock %}
