<!-- PRESENTATION -->
<section
	class="py-10 py-md-14 bg-gray-900" id="presentation">

	<!-- Shape -->
	<div class="shape shape-blur-3 text-white">
		<svg viewbox="0 0 1738 487" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M0 0h1420.92s713.43 457.505 0 485.868C707.502 514.231 0 0 0 0z" fill="url(#paint0_linear)"></path>
			<defs>
				<linearGradient id="paint0_linear" x1="0" y1="0" x2="1049.98" y2="912.68" gradientunits="userSpaceOnUse">
					<stop stop-color="currentColor" stop-opacity=".075"></stop>
					<stop offset="1" stop-color="currentColor" stop-opacity="0"></stop>
				</linearGradient>
			</defs>
		</svg>
	</div>

	<!-- Content -->
	<div class="container">
		<div class="row justify-content-center">
			<div
				class="col-12 col-md-10 col-lg-8 text-center">

				<!-- Heading -->
				<h1 class="display-2 fw-bold text-white">My Video Player</h1>

				<!-- Text -->
				<p class="lead text-white mb-8">
					Le seul site où vous pouvez sauvegarder et voir les vidéos YouTube, Vimeo , DailyMotion et Facebook.
				</p>

			</div>
		</div>
		<!-- / .row -->
	</div>
	<!-- / .container -->

</section>

<div class="position-relative">
	<div class="shape shape-bottom shape-fluid-x text-white">
		<svg viewbox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"></path>
		</svg>
	</div>
</div>