<!-- LAST VIDEOS -->
<section class="py-8 py-md-10" id="home-videos" tabindex="-1" style="outline: none;">
	<div class="container">
		<div class="row">
			<div
				class="col-12 text-center">

				<!-- Button -->
				<a href="#home-videos" class="btn btn-warning btn-rounded-circle shadow mt-n12 mt-md-n14" data-scroll="">
					<i class="fe fe-arrow-down"></i>
				</a>

			</div>
		</div>

		<!-- / .row -->
		<div class="row justify-content-center">
			<div
				class="col-12 col-md-10 col-lg-8 text-center">

				<!-- Heading -->
				<h2 class="mb-0 text-center">
					{% if videos|length > 0 %}
						Les meilleures vidéos :
					{% else %}
						Aucune vidéo pour le moment
					{% endif %}
				</h2>

			</div>
		</div>

		<!-- SEARCH -->
		{% if videos|length > 0 %}
			<div class="py-6 mb-4">
				<div class="row">

					{% include("components/_search.html.twig") with {
					'url': '/search',
					'target': '#videos-home'
				} %}

				</div>
				<!-- / .row -->
			</div>
		{% endif %}

		<!-- Videos -->
		<div
			id="videos-home" class="row">
			{% include("components/_videos.html.twig") %}
		</div>
		<!-- / Videos -->

		<!-- Pagination -->
		{% include("components/_pagination.html.twig") with {'datas': videos} %}
		<!-- / Pagination -->

	</div>
	<!-- / .container -->
</section>
