<!-- AUTHOR -->
<section class="pt-8 pb-12 py-md-11 border-bottom">
	<div class="container">
		<div class="row justify-content-between align-items-center">
			<div
				class="col-12 col-md-6 col-lg-5">

				<!-- Image grid -->
				<div
					class="d-flex align-items-center mb-6 mb-md-0">

					<!-- Image -->
					{% set avatar = (video.author.avatarName == author_image_default) ? video.author.avatarName : vich_uploader_asset(video.author, 'avatarFile') %}
					<img class="object-scale-down h-48 w-96 rounded" data-jarallax-element="-20" src="{{ avatar }}" alt="{{ video.author.name }}" style="min-height: 1px; max-width: 50%; margin-left: 40%; transform: translate3d(0px, -11.2068px, 0px);" data-jarallax-original-styles="min-height: 1px; max-width: 50%; margin-left: 40%;">

				</div>

			</div>
			<div class="col-12 col-md-6 py-md-12">

				<div>
					<span class="badge rounded-pill bg-primary-desat mb-6">
						<span class="h6 text-uppercase">A propos de l'auteur</span>
					</span>
				</div>

				<!-- Heading -->
				<div>
					<span class="badge rounded-pill bg-dark text-warning me-1 mb-6 px-6">
						<span class="h2 text-uppercase">{{ video.author.name }}</span>
					</span>
				</div>

				<!-- Text -->
				<div>
					<span class="fs-lg text-gray-700 mb-6">
						{% if video.author.about is defined and video.author.about is not null %}
							{{ video.author.about | raw }}
						{% else %}
							<p class="text-muted">Aucune description pour le moment</p>
						{% endif %}
					</span>
				</div>

				<!-- Button -->
				<div class="d-flex justify-content-between">
					<a class="fw-bold badge bg-warning mt-6" href="{{ path('app_author_show', {'slug': video.author.slug }) }}" title="Voir la page de l'auteur {{ video.author.name }}">
						Voir toutes ses vidéos
						<i class="fe fe-arrow-right ms-3"></i>
					</a>
					{% if video.author.website is defined and video.author.website is not null %}
						<a class="fw-bold badge bg-primary-desat mt-6" href="{{ video.author.website }}" title="Visiter le site de l'auteur {{ video.author.name }}" target="_blank">
							Visiter le site de l'auteur
							<i class="fe fe-arrow-right ms-3"></i>
						</a>
					{% endif %}
				</div>
			</div>
		</div>
		<!-- / .row -->
	</div>
	<!-- / .container -->
</section>
