<!-- VIDEO DESCRIPTION -->
<div class="section bg-black pt-12 pt-md-15 pb-8 pb-md-11">
	<div class="container">
		<div class="row justify-content-center align-items-center mb-5">
			<div
				class="col-12 col-md-8">

				<!-- Text -->
				<span class="lead text-white mb-6" data-aos="fade-up" data-aos-delay="150">
					{{ video.description | raw }}
				</span>

			</div>
		</div>
		<!-- / .row -->
	</div>
	<!-- / .container-->
</div>

<!-- STEPS -->
<div class="position-relative">
	<div class="shape shape-top shape-fluid-x shape-flip-x text-black">
		<svg viewbox="0 0 2880 250" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h2880v125h-720L720 250H0V0z" fill="currentColor"/></svg>
	</div>
</div>
