{% extends 'base.html.twig' %}

{% block title %}
My Video Player || {{ video.category.name }} - {{ video.author.name }} - {{ video.title }}
{% endblock %}

{% block body %}
	{% include 'pages/video/video.html.twig' %}
	{% include 'pages/video/description.html.twig' %}
	{% include 'pages/video/author.html.twig' %}
{% endblock %}
