<!-- VIDEO -->
<section class="py-8 py-md-11 border-bottom">
	<div class="container">

		<div class="row">
			<div class="d-flex align-self-center mb-4">

				<!-- Ariane -->
				{% include "components/_ariane.html.twig" with {
					'background': video.category.background,
					'color': video.category.color,
					'name': video.category.name,
					'title': video.title,
				}%}

		</div>
		</div>

			<div class="row justify-content-center"> <div
				class="col-12 col-md-10 text-center py-8">

				<!-- Headin -->
				<h2 class="display-1 fw-bold" data-aos="fade-up" data-aos-delay="50">
					{{ video.title }}
				</h2>

			</div>
		</div>
		<!-- / .row -->
		<div class="row">
			<div
				class="col-12" data-aos="fade-up" data-aos-delay="100">

				<!-- Video -->
				<div class="ratio ratio-16x9">
					{{ video.url|video_player|raw}}
				</div>

			</div>
		</div>
		<!-- / .row -->
	</div>
	<!-- / .container -->
</section>

<!-- STEPS -->
<div class="position-relative mt-n12 mt-md-n15">
	<div class="shape shape-bottom shape-fluid-x text-black">
		<svg viewbox="0 0 2880 250" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M720 125L2160 0h720v250H0V125h720z" fill="currentColor"/></svg>
	</div>
</div>
