<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% if app.request.attributes.get('_route') != 'app_login' %}
            {{ render(controller('App\\Controller\\HomeController::renderNavBar', {
                'route' : app.request.attributes.get("_route"),
                'slug' : app.request.attributes.get('_route_params'),
			})) }}
        {% endif %}
        {% block body %}{% endblock %}
        {% if app.request.attributes.get('_route') != 'app_login' %}
            {{ render(controller('App\\Controller\\HomeController::renderFooter')) }}
        {% endif %}
    </body>
</html>
