<div class="col">
	<div class="card mb-4 rounded-3 shadow-sm border-{{bgColor}}">
		<div class="card-header py-3 text-bg-{{bgColor}} border-{{bgColor}}">
			<h4 class="my-0 fw-normal">{{ title|upper }}</h4>
		</div>
		<div class="card-body">
			<h1 class="card-title pricing-card-title my-4">
				<span class="bg-{{bgColor}} text-bg-{{bgColor}} rounded py-2 px-4">{{published}}</span> 
				<small class="text-body-secondary fw-light">
				{% if published == 1 %}
					Actif
				{% else %}
					Actives
				{% endif %}
				</small>
			</h1>
			<ul class="list-unstyled mx-3">
				<li class="text-secondary">
					{{unpublished}} <small class="fw-light mb-2">
					{% if unpublished == 1 %}
						Inactif
					{% else %}
						Inactives
					{% endif %}
					</small>
				</li>
				<li class="text-danger">
					{{total}} <small class="fw-light">au Total</small></li>
			</ul>
		</div>
	</div>
</div>
