<div class="my-4">
	<div class="py-3 text-bg-{{bgColor}} border-{{bgColor}} text-center rounded">
		<h4 class="my-0 fw-normal">{{ title|upper}}</h4>
	</div>
	<div class="px-4 pt-4">

		<div class="table-responsive">
			<table class="table table-striped text-center">
				<thead class="thead-{{bgColor}}">
					<tr>
						<th style="width: 50%;">Nom</th>
						{% if entity == "videos" %}
							<th style="width: 10%;">Catégorie</th>
							<th style="width: 10%;">Auteur</th>
						{% endif %}
						<th style="width: 10%;">Actif</th>
						{% if entity == "others" %}
							<th style="width: 10%;">Visible</th>
							<th style="width: 10%;">Non visible</th>
							<th style="width: 10%;">Total Vidéos</th>
							<th style="width: 10%;">% Visible</th>
						{% endif %}
					</tr>
				</thead>
				<tbody>
				{% for data in datas %}
					<tr>
						<th scope="row" class="text-start">
							<span title="{{ data.name }}">{{ data.name|u.truncate(50, '...', false) }}</span>
						</th>
						{% if entity == "videos" %}
							<td>{{ data.category }}</td>
							<td>{{ data.author }}</td>
						{% endif %}
						<td>
						{% if data.active %}
							<span class="badge badge-pill bg-success text-white">Oui</span>
						{% else %}
							<span class="badge badge-pill bg-danger text-white">Non</span>
						{% endif %}
						</td>
						{% if entity == "others" %}
							<td>{{ data.published }}</td>
							<td>{{ data.unpublished }}</td>
							<td>{{ data.nbVideos }}</td>
							<td>
								<div class="progress progress-xs">
									<div class="progress-bar bg-{{bgColor}}" style="width: {{data.pourcentage}}%"  aria-valuenow="{{data.pourcentage}}" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</td>
						{% endif %}
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
