<a class="badge rounded-pill bg-warning" href="{{ path('app_home') }}">
	<span class="h6 text-uppercase">Accueil</span>
</a>
<a class="badge rounded-pill mx-2" href="{{ path('app_category_show', {'slug': video.category.slug }) }}" style="background:{{ background }}; color: {{ color }};">
	<span class="h6 text-uppercase">{{ name }}</span>
</a>
<span class="badge rounded-pill bg-primary-soft">
	<span class="h6 text-uppercase">{{ title}}</span>
</span>
