{% set author_show = path('app_author_show', {'slug': author.slug}) %}

<div
	class="col-12 col-md-4 d-flex">

	<!-- Card -->
	<div class="card mb-6 shadow-light-lg lift lift-lg">

		<!-- Image -->
		<a
		class="card-img-top" href="{{ author_show }}"> <!-- Image -->
			<img
			src="{{ vich_uploader_asset(author, 'avatarFile') }}" alt="{{ author.name }}" class="card-img-top">

			<!-- Shape -->
			<div class="position-relative">
				<div class="shape shape-bottom shape-fluid-x text-white">
					<svg viewbox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0v240h2880V0h-720z" fill="currentColor"></path>
					</svg>
				</div>
			</div>

		</a>

		<!-- Body -->
		<a
			class="card-body" href="{{ author_show }}">

			<!-- Heading -->
			<h3>
				{{ author.name|title }}
			</h3>

			<!-- Text -->
			<p class="mb-0 text-muted">
				{% if author.about|length > 0 %}
					{{ author.about | striptags | u.truncate(100, '...') }}
				{% else %}
					Aucune description pour le moment
				{% endif %}
			</p>

		</a>

		<!-- Meta -->
		<a
			class="card-meta mt-auto" href="{{ author_show }}">

			<!-- Divider -->
			<hr
			class="card-meta-divider">

			<!-- Videos -->
			<h6 class="badge rounded-pill bg-secondary text-uppercase me-2 mb-0">
				{% if author.videos | length == 0 %}
					Aucune Vidéo
				{% elseif author.videos | length == 1 %}
					{{ author.videos | length }}
					Vidéo
				{% else %}
					{{ author.videos | length }}
					Vidéos
				{% endif %}
			</h6>

		</a>

	</div>

</div>

