{% set category_show = path('app_category_show', {'slug': category.slug }) %}

<div
	class="col-12 col-md-4 d-flex">

	<!-- Card -->
	<div class="card mb-6 shadow-light-lg lift lift-lg">

		<!-- Image -->
			<a
			class="card-img-top" href="{{ category_show }}"> <!-- Image -->
			<img
			src="{{ vich_uploader_asset(category, 'imageFile') }}" alt="{{ category.name }}" class="card-img-top">

			<!-- Shape -->
			<div class="position-relative">
				<div class="shape shape-bottom shape-fluid-x text-white">
					<svg viewbox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0v240h2880V0h-720z" fill="currentColor"></path>
					</svg>
				</div>
			</div>

		</a>

		<!-- Body -->
		<a
			class="card-body" href="{{ category_show }}">

			<!-- Heading -->
			<h3>
				{{ category.name | upper }}
			</h3>

			<!-- Text -->
			<p class="mb-0 text-muted">
				{% if category.description|length > 0 %}
					{{ category.description | u.truncate(100, '...') | raw  }}
				{% else %}
					Aucune description pour le moment
				{% endif %}
			</p>

		</a>

		<!-- Meta -->
		<a
			class="card-meta mt-auto" href="{{ category_show }}">

			<!-- Divider -->
			<hr
			class="card-meta-divider">

			<!-- Badge number vidéos-->
			<span class="badge rounded-pill bg-secondary text-uppercase">
				{% if category.videos | length == 0 %}
					Aucune Vidéo
				{% elseif category.videos | length == 1 %}
					{{ category.videos | length }}
					Vidéo
				{% else %}
					{{ category.videos | length }}
					Vidéos
				{% endif %}
			</span>

		</a>

	</div>

</div>