<div
	class="col-12">

	<!-- Form -->
	<form class="rounded shadow">
		<div
			class="input-group input-group-lg">

			<!-- Text -->
			<span class="input-group-text border-0 pe-1">
				<i class="fe fe-search"></i>
			</span>

			<!-- Input -->
			<input
			type="search" class="form-control border-0 px-1" name="search" aria-label="Chercher..." placeholder="Chercher..." hx-post="{{ url }}" hx-trigger="keyup changed delay:250ms, search" hx-target="{{ target }}">

			<!-- Text -->
			<span class="input-group-text border-0 py-0 ps-1 pe-3"></span>

		</div>
	</form>

</div>
