{% for video in videos %}
	{% set video_show = path('app_video_show', {'slug': video.slug }) %}

	<div
		class="col-12 col-lg-6 d-flex">

		<!-- Card -->
		<div
			class="card mb-6 shadow-light-lg lift lift-lg">

			<!-- Badge -->
			{% include "components/_badges.html.twig" with {
			'background': video.category.background,
			'color': video.category.color,
			'name': video.category.name
		}%}

			<!-- Image -->
			<a
				class="card-img-top" href="{{ video_show }}">
				<!-- Image -->
				{% if video.url is defined and video.url is not null %}
					<img src="{{ video.url|video_thumbnail }}" alt="{{ video.title }}" class="card-img-top">
				{% endif %}

				<!-- Shape -->
				<div class="position-relative">
					<div class="shape shape-bottom shape-fluid-x text-white">
						<svg viewbox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0v240h2880V0h-720z" fill="currentColor"/>
						</svg>
					</div>
				</div>

			</a>

			<!-- Body -->
			<a
				class="card-body" href="{{ video_show }}">

				<!-- Heading -->
				<h3>{{ video.title|title }}</h3>

				<!-- Text -->
				<p class="mb-0 text-muted">
					{% if video.description|length > 0 %}
						{{ video.description|u.truncate(video_description_length, '...')|striptags }}
					{% else %}
						Aucune description pour le moment
					{% endif %}
				</p>

			</a>

			<!-- Meta -->
			<a
				class="card-meta mt-auto" href="{{ video_show }}">

				<!-- Divider -->
				<hr
				class="card-meta-divider">

				<!-- Avatar -->
				{% if video.author.avatarName is defined and video.author.avatarName is not null %}
					<div class="avatar avatar-sm me-2">
						{% set avatar = (video.author.avatarName == author_image_default) ? video.author.avatarName : vich_uploader_asset(video.author, 'avatarFile') %}
						<img src="{{ avatar }}" alt="{{ video.author.name }}" class="avatar-img rounded-circle">
					</div>
				{% endif %}

				<!-- Author -->
				{% if video.author.name is defined and video.author.name is not null %}
					<h6 class="text-uppercase text-muted me-2 mb-0">
						{{ video.author.name|upper }}
					</h6>
				{% endif %}

				<!-- Date -->
				<p class="h6 text-uppercase text-muted mb-0 ms-auto">
					<time datetime="{{ video.createdAt|date('d-m-Y') }}">{{ video.createdAt|date('m-Y') }}</time>
				</p>

			</a>

		</div>

	</div>
{% endfor %}
