{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
	<section class="section-border border-primary">
		<div class="container d-flex flex-column">
			<div class="row align-items-center justify-content-center gx-0 min-vh-100">
				<div
					class="col-8 col-md-6 col-lg-7 offset-md-1 order-md-2 mt-auto mt-md-0 pt-8 pb-4 py-md-11">

					<!-- Image -->
					<img src="/img/myvideoplayer.png" alt="..." class="img-fluid">

				</div>
				<div
					class="col-12 col-md-5 col-lg-4 order-md-1 mb-auto mb-md-0 pb-8 py-md-11">

					<!-- Heading -->
					<h1 class="display-3 fw-bold text-center">
						Uh Oh.
					</h1>

					<!-- Text -->
					<p class="mb-5 text-center text-body-secondary">
						Nous avons rencontré un problème, mais ne vous inquiétez pas, nous nous en occuperons à coup sûr.
					</p>

					<!-- Link -->
					<div class="text-center">
						<a class="btn btn-warning" href="{{path('app_home')}}">
							Accueil
						</a>
					</div>

				</div>
			</div>
			<!-- / .row -->
		</div>
		<!-- / .container -->
	</section>
{% endblock %}
